.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  margin: 0 auto;
  grid-row-gap: 20px;
  grid-template-areas:
    ". timer timer ."
    "start stop submit clear"
    ". numberOfAttendees numberOfAttendees ."
    ". currentSprint newSprint .";
}

.timer {
  grid-area: timer;
  text-align: center;
}

.startButton {
  grid-area: start;
  text-align: center;
}

.stopButton {
  grid-area: stop;
  text-align: center;
}

.submitButton {
  grid-area: submit;
  text-align: center;
}

.clearButton {
  grid-area: clear;
  text-align: center;
}

.numberOfAttendees {
  grid-area: numberOfAttendees;
  text-align: center;
}

.currentSprint {
  grid-area: currentSprint;
  text-align: center;
}

.newSprint {
  grid-area: newSprint;
  text-align: center;
}

.timerButton {
  background-color: #1a237e;
  color: #ffffff;
}
